.container {
  grid-column: span 2;
  width: 100%;
  margin: 0 auto;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 300;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #000;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.cell {
  flex: 1;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  margin: 8px 0;
}

.cell:first-child {
  font-weight: 300;
}

@media (max-width: 656px) {
  .container {
    margin-top: 100px;
  }
}
